<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Log In</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Log In</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-area pt-100">
    <div class="container">
        <h2>Login Your Account</h2>

        <div class="login-wrap">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="jobseeker-item">
                        <div class="jobseeker-icon">
                            <i class="flaticon-job-search"></i>
                        </div>

                        <div class="jobseeker-inner">
                            <span>Candidate</span>
                            <h3>Login as a Candidate</h3>
                        </div>

                        <a routerLink="/login">Get Started<i class="icofont-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="jobseeker-item">
                        <div class="jobseeker-icon">
                            <i class="flaticon-recruitment"></i>
                        </div>

                        <div class="jobseeker-inner">
                            <span>Employer</span>
                            <h3>Login as a Employer</h3>
                        </div>

                        <a routerLink="/login">Get Started<i class="icofont-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="signInUser()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email" formControlName="email">
                <div *ngIf="f.email.invalid && f.email.errors && f.email.dirty || f.email.touched">
                    <small class="text-danger" *ngIf="f.email.hasError('required')"> This field is required.</small>
                </div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password" formControlName="password">
                <div *ngIf="f.password.invalid && f.password.errors && f.password.dirty || f.password.touched">
                    <small class="text-danger" *ngIf="f.password.hasError('required')"> This field is required.</small>
                </div>
            </div>


            <div class="login-sign-in">
                <a routerLink="/forget/password">Forgot Password?</a>

                <ul>
                    <li>Don’t Have Account ?</li>
                    <li><a routerLink="/create-account">Sign Up Here</a></li>
                </ul>

                <div class="text-center">
                    <button type="submit" class="btn login-btn" [disabled]="!form.valid">Sign In</button>
                </div>
            </div>

            <div class="login-social">
                <a href="#"><i class="icofont-facebook"></i> Login With Facebook</a>
                <a class="login-google" (click)="signinWithGoogle()"><i class="icofont-google-plus"></i> Login With Google</a>
            </div>
        </form>
    </div>
</div>