<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>{{offer?.company_name}}</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Job Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job-details-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job-details-item">
                    <div class="job-description">
                        <h2>Job Description</h2>
                        <p [innerHTML]="offer?.description"></p>
                    </div>

                    <div class="job-knowledge">
                        <h2>Required Knowledge, Skills, and Abilities</h2>

                        <ul>

                            <li *ngFor="let item of offer?.offerSkills"><i class="icofont-hand-drawn-right"></i> {{item}}</li>
                            <!-- <li><i class="icofont-hand-drawn-right"></i> Belief – believing in yourself and those around you</li>
                            <li><i class="icofont-hand-drawn-right"></i> Experience designing and developing responsive design websites</li>
                            <li><i class="icofont-hand-drawn-right"></i> Ability to convert comprehensive layout and wireframes into working HTML pages</li>
                            <li><i class="icofont-hand-drawn-right"></i> Strong understanding of PHP back-end development</li> -->
                        </ul>
                    </div>

                    <!-- <div class="job-knowledge">
                        <h2>Education Qualification</h2>

                        <ul>
                            <li><i class="icofont-hand-drawn-right"></i> Any Graduattion Degree(13th Pass) (Preferred)</li>
                            <li><i class="icofont-hand-drawn-right"></i> Advanced degree or equivalent experience in graphic and web design</li>
                            <li><i class="icofont-hand-drawn-right"></i> 2 or more years of professional design experience</li>
                            <li><i class="icofont-hand-drawn-right"></i> Direct response email experience</li>
                            <li><i class="icofont-hand-drawn-right"></i> Ecommerce website design experience</li>
                        </ul>
                    </div> -->

                    <div class="text-center" *ngIf="(role == 'candidat')">
                        <a class="job-details-btn" (click)="checkTest(offer.id)" style="cursor: pointer;">Apply Now</a>
                    </div>
                    <div class="text-center" *ngIf="(role == 'company')">
                        <a class="job-details-btn" routerLink="/apply-list/{{offer?.id}}" style="cursor: pointer;">Candidat List</a>
                    </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="job-details-item">
                    <div class="job-overview">
                        <h3>Overview</h3>

                        <ul>
                            <li>
                                <i class="icofont-dollar"></i>
                                <p>Offered Salary</p>
                                <span>{{offer?.job_salary}}</span>
                            </li>

                            <li>
                                <i class="icofont-users-alt-3"></i>
                                <p>Type Of Contract</p>
                                <span>{{offer?.contract}}</span>
                            </li>

                            <li>
                                <i class="icofont-badge"></i>
                                <p>Job Experience</p>
                                <span>{{offer?.job_experience}}</span>
                            </li>

                            <li>
                                <i class="icofont-graduate"></i>
                                <p>Qualification</p>
                                <span>{{offer?.qualification}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="job-overview job-company">
                        <h3>Company Contact And Address</h3>

                        <ul>
                            <li>
                                <i class="icofont-location-pin"></i>
                                <span>{{offer?.user.address}}</span>
                            </li>

                            <li>
                                <i class="icofont-ui-call"></i>
                                <a href="tel:+07554332322">{{offer?.user.phone}}</a>
                            </li>

                            <li>
                                <i class="icofont-ui-email"></i>
                                <a href="mailto:hello@peof.com">{{offer?.user.email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>