<div class="page-title-area" *ngIf="test">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Candidate Details</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Candidate Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-profile-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="single-profile-item">
                    <img [src]="filePath? filePath : 'assets/img/single-profile/default-user.png'" alt="Profile" class="offset-lg-2 ui medium circular image" style="height: 285px;">

                    <div class="single-profile-left">
                        <div class="single-profile-contact">
                            <h3>Contact Info</h3>

                            <ul>
                                <li><i class="icofont-ui-call"></i> <a href="tel:+07554332322">{{user?.phone}}</a></li>
                                <li><i class="icofont-email"></i> <a href="mailto:hello@peof.com">{{user?.email}}</a></li>
                                <li><i class="icofont-location-pin"></i> {{user?.address}}</li>
                            </ul>
                        </div>

                        <div class="single-profile-social">
                            <h3>Social Links</h3>

                            <ul>
                                <li><i class="icofont-facebook"></i> <a href="#" target="_blank">{{links?.facebook}}</a></li>
                                <li><i class="icofont-instagram"></i> <a href="#" target="_blank">{{links?.instagram}}</a></li>
                                <li><i class="icofont-linkedin"></i> <a href="#" target="_blank">{{links?.linkedin}}</a></li>
                                <li><i class="icofont-twitter"></i> <a href="#" target="_blank">{{links?.github}}</a></li>
                            </ul>
                        </div>

                        <div class="single-profile-skills">
                            <h3>My Skills</h3>

                            <!-- <div class="skill" >
                                <p>Frontend Design</p>
                                <div class="skill-bar skill1 wow slideInLeft animated">
                                    <span class="skill-count1">70%</span>
                                </div>
                            </div> -->

                            <!-- <div class="skill">
                                <p>Software Development</p>
                                <div class="skill-bar skill1 skill2 wow slideInLeft animated">
                                    <span class="skill-count1">90%</span>
                                </div>
                            </div> -->

                            <div class="skill" *ngFor="let item of skills">
                                <p>{{item.name}}</p>
                                <div class="skill-bar skill1 skill3 wow slideInLeft animated">
                                    <span class="skill-count1">{{item.pourcentage}}%</span>
                                </div>
                            </div>

                            <h3>Hobbies</h3>
                            <div class="single-profile-social" *ngFor="let item of hobbies" style=" margin-bottom: 12px;">

                                <ul>
                                    <li>
                                        <i class="gratipay icon" style="height: 31px; width: 34px; margin-top: -7px;">

                                    </i> {{item?.name}}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="single-profile-item">
                    <div class="single-profile-right">
                        <div class="single-profile-name">
                            <h2>{{user?.name}} {{user?.nickname}}</h2>
                            <!-- <h2>{{user?.nickname}}</h2> -->


                            <!-- <span>{{user?.nickname}}</span> -->
                            <p>{{user?.post}}</p>
                            <a *ngIf="this.pdfFilePath" (click)="previewCv()">View CV <i class="icofont-eye-alt"></i></a>
                            <!-- <a routerLink="/">Download CV <i class="icofont-download"></i></a> -->
                        </div>

                        <div class="single-profile-textarea">
                            <div class="single-profile-heading">
                                <span></span>
                                <h3>Description</h3>
                            </div>

                            <div class="single-profile-paragraph">
                                <p style="
                                    padding-bottom: 0px;
                                    padding-top: 1px;" [innerHTML]="user?.description"></p>
                            </div>





                            <div class="single-profile-heading">
                                <span></span>
                                <h3>Education</h3>
                            </div>

                            <div class="single-profile-paragraph" *ngFor="let item of educations">
                                <ul style="height: 78px;">
                                    <!-- <li>
                                        <h6>{{item.title}} </h6>

                                        <p>{{item.institute}}</p>
                                    </li> -->

                                    <li>
                                        <i class="icofont-graduate" style="font-size: 26px;"> <span style="margin-left: 14px;font-size: 21px;">{{item.institute}}</span> </i>


                                        <p>{{item.title}}</p>
                                    </li>


                                </ul>
                            </div>

                            <!-- <div class="single-profile-heading">
                                <span></span>
                                <h3>Research</h3>
                            </div> -->

                            <!-- <div class="single-profile-paragraph">
                                <p>{{item.institute}}</p>
                            </div> -->

                            <div class="single-profile-heading" style="margin-top: 19px;">
                                <span></span>
                                <h3>Work Experiences</h3>
                            </div>

                            <div class="single-profile-paragraph" *ngFor="let item of works">
                                <ul>
                                    <!-- <li>
                                        <h6>{{item.title}} :</h6>
                                        <p>{{item.company}}</p>
                                        <p>{{item.begin_date}}</p>
                                        <p>{{item.end_date}}</p>
                                        <p>{{item.description}}</p>
                                    </li> -->

                                </ul>

                                <li>
                                    <i class="icofont-users-alt-3" style="font-size: 26px; color: #6c756c;"> <span style="margin-left: 14px;font-size: 21px;color: #7c847c;">{{item.title}}</span></i>
                                    <br>
                                    <i class="icofont-location-pin"> <span  style="color: #7c847c;">{{item.company}}</span></i>
                                    <br>


                                    <i class="calendar alternate icon"></i>
                                    <span style="color: #7c847c;">{{item.begin_date|date}} - {{item.end_date|date}}   </span>
                                    <br>

                                    <i class="icofont-hand-drawn-right"><span  style="color: #7c847c;">{{item.description}}</span></i>



                                </li>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>