<div class="page-title-area" *ngIf="test">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Favourite Job</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Favourite Job</li>
                    </ul>
                </div>
                <div class="banner-form-area" style="margin-top: 22px; margin-bottom: 22px;">
                    <app-search-bar></app-search-bar>
                 </div>
            </div>
        </div>
    </div>
</div>

<section class="job-area job-area-two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" *ngFor="let item of favoriteJobs">
                <div class="job-item">
                    <mat-icon *ngIf="!item.is_favorite_job" matTooltip="Add to favorite jobs" aria-hidden="false" aria-label="Example home icon" style="float: right;margin-top: -20px;margin-right: -20px;" [ngClass]="{'favorite-icon': item.is_favorite_job}" (click)="addToFavorite(item)">star</mat-icon>
                    <mat-icon *ngIf="item.is_favorite_job" matTooltip="Remove from favorite jobs " aria-hidden="false" aria-label="Example home icon" style="float: right;margin-top: -20px;margin-right: -20px;" [ngClass]="{'favorite-icon': item.is_favorite_job}" (click)="addToFavorite(item)">star</mat-icon>

                    <!-- <img src="assets/img/home-1/jobs/2.png" alt="Job"> -->
                    <img [src]="item.offer_company.avatar? 'http://localhost:3000' + item.offer_company.avatar : 'assets/img/office-building.png'" alt="icon" style="    max-width: 78px;
                    margin-top: -4px;
                    margin-left: -9px;">

                    <div class="job-inner align-items-center">
                        <div class="job-inner-left">
                            <h3>{{item?.title}}</h3>

                            <a routerLink="/company-details/{{item.id}}">{{item?.company_name}}</a>
                            <ul>
                                <li><i class="icofont-money-bag"></i>
                                    <p> {{item?.job_salary}} </p>
                                </li>
                                <li><i class="icofont-location-pin"></i>
                                    <p>{{item?.location}}</p>
                                </li>
                            </ul>
                        </div>

                        <div class="job-inner-right">

                            <ul>
                                <li><a routerLink="/job-details/{{item.id}}">See More</a></li>
                                <li><span>{{item?.job_time}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="job-inner-right common-btn" *ngIf="favoriteJobs.length == 0 " style="display: flex;flex-direction: column;margin-left: auto;margin-right: auto;">
                <span style="margin-bottom: 10px;
                font-weight: 600;
                font-size: 35px;
                color: #646464;">No  Favorite Jobs you have to add one in the link below  </span>

                <a routerLink="/job-list" class="sign-up-btn" style="margin-left: auto;margin-right: auto;">Job List</a>

            </div>



        </div>
    </div>
</section>