<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-text">
                    <h2>Profile</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dashboard-area pt-100">
    <div class="container">
        <div class="create-information">
            <form [formGroup]="form" (ngSubmit)="updateUser()">

                <h3>Basic Information</h3>

                <div class="create-information-btn">
                    <a routerLink="/">Upload Cover Photo</a>
                    <a routerLink="/">Upload Your CV</a>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your First Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your Last Name</label>
                            <input type="text" class="form-control" formControlName="nickname">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your Email</label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                    </div>

                    <!-- <div class="col-lg-6">
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="text" class="form-control" formControlName="birthday">
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" formControlName="birthday">
                            <div *ngIf="f.birthday.invalid && f.birthday.errors && f.birthday.dirty || f.birthday.touched">
                                <small class="text-danger" *ngIf="f.birthday.hasError('required')"> This field is required.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your Phone</label>
                            <input type="text" class="form-control" formControlName="phone">
                        </div>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="form-group">
                            <div class="gender-area">
                                <span>Profession</span>
                                <input type="radio" formControlName="role" id="candidat" value="candidat" checked>
                                <label for="candidat">Candidat</label>
                                <input type="radio" formControlName="role" id="recruteur" value="company">
                                <label for="recruteur">Recruteur</label>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-lg-6">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input type="text" class="form-control" placeholder="UX/UI Designer">
                        </div>
                    </div> -->

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" class="form-control" formControlName="address">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>About you</label>
                            <input type="text" class="form-control" formControlName="description">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your Post</label>
                            <input type="text" class="form-control" formControlName="post">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="gender-area">
                                <span>Gender</span>
                                <input type="radio" formControlName="gender" id="male" value="male" checked>
                                <label for="male">Male</label>
                                <input type="radio" formControlName="gender" id="female" value="female">
                                <label for="female">Female</label>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="your_message" class="form-control" rows="8" placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quaerat aliquid. Aperiam reprehenderit, id dolorem reiciendis atque sit. Mollitia consequatur assumenda autem tempora cum quas blanditiis aspernatur dolore accusantium ipsam!"></textarea>
                        </div>
                    </div> -->
                </div>
                <div class="text-left">
                    <button type="submit" class="btn create-ac-btn">Save</button>
                </div>
            </form>
        </div>
        <div *ngIf="user?.user.role == 'candidat'">
            <div class="create-education create-education-two">
                <div class="create-education-wrap">
                    <div class="create-education-left">
                        <h3>Educations</h3>
                    </div>

                    <div class="create-education-right">
                        <!-- <a routerLink="/">Edit</a> -->
                        <button (click)="addEducation(education)" [disabled]="education.title == '' || education.degree == '' || education.year == '' || education.institute == ''">Add Education</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" [(ngModel)]="education.title">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Degree</label>
                            <input type="text" class="form-control" [(ngModel)]="education.degree">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Institute</label>
                            <input type="text" class="form-control" [(ngModel)]="education.institute">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Year</label>
                            <input type="text" class="form-control" [(ngModel)]="education.year">
                        </div>
                    </div>
                </div>
                <div class="create-education create-education-two" *ngFor="let item of educations">
                    <div class="create-education-wrap">
                        <div class="create-education-left">
                            <h3>Education</h3>
                        </div>

                        <div class="create-education-right">
                            <button type="submit" (click)="editEducation(item)" [disabled]="item.title == '' || item.degree == '' ">Edit </button>
                            <button class="delete-btn" (click)="removeEducation(item.id)">Remove</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" [(ngModel)]="item.title">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Degree</label>
                                <input type="text" class="form-control" [(ngModel)]="item.degree">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Institute</label>
                                <input type="text" class="form-control" [(ngModel)]="item.institute">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Year</label>
                                <input type="text" class="form-control" [(ngModel)]="item.year">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="create-skills">
                <div class="create-skills-wrap">
                    <div class="create-skills-left">
                        <h3>Skills </h3>
                    </div>

                    <div class="create-skills-right">
                        <!-- <a routerLink="/">Edit</a> -->
                        <!-- <a routerLink="/">Add Skill</a> -->
                        <button (click)="addSkill(skill)" [disabled]="skill.name == '' || skill.pourcentage == 0">Add Skill</button>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-lg-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" [(ngModel)]="skill.title">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="skill">
                        <p>Percentage</p>
                        <div class="skill-bar skill1 skill3 wow slideInLeft animated">
                            <span class="skill-count1">60%</span>
                        </div>
                    </div>
                </div> -->

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" [(ngModel)]="skill.name">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <div>
                                <p>Percentage</p>
                                {{skill.pourcentage}}
                            </div>
                            <input type="range" class="form-control" [(ngModel)]="skill.pourcentage">

                        </div>
                    </div>
                </div>




                <div class="create-education create-education-two" *ngFor="let item of skills">
                    <div class="create-skills-wrap">
                        <div class="create-skills-left">
                            <h3>Skill</h3>
                        </div>

                        <div class="create-skills-right">
                            <!-- <a routerLink="/">Edit</a> -->
                            <!-- <a routerLink="/">Add Skill</a> -->
                            <button (click)="editSkill(item)" [disabled]="item.name == '' || item.pourcentage == 0">Edit</button>
                            <button class="delete-btn" (click)="removeSkill(item.id)">Remove</button>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-lg-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" [(ngModel)]="skill.title">
                        </div>
                    </div>
    
                    <div class="col-lg-6">
                        <div class="skill">
                            <p>Percentage</p>
                            <div class="skill-bar skill1 skill3 wow slideInLeft animated">
                                <span class="skill-count1">60%</span>
                            </div>
                        </div>
                    </div> -->

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" [(ngModel)]="item.name">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div>
                                    <p>Percentage</p>
                                    {{item.pourcentage}}
                                </div>
                                <input type="range" class="form-control" [(ngModel)]="item.pourcentage">

                            </div>
                        </div>
                    </div>

                </div>





                <!-- <div class="text-left">
            <button type="submit" class="btn create-ac-btn">Save</button>
        </div> -->

            </div>

            <div class="create-skills">
                <div class="create-skills-wrap">
                    <div class="create-skills-left">
                        <h3>Social Links</h3>
                    </div>

                    <div class="create-skills-right">
                        <!-- <a routerLink="/">Edit</a>
                    <a routerLink="/">Add New</a> -->
                        <button (click)="addLink(link)" [disabled]="link.linkedin == '' ">Save Social Links</button>


                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>LinkedIn</label>
                            <span class="text-danger" *ngIf="link.linkedin == '' ">*</span>

                            <input type="text" class="form-control" placeholder="https://www.linkedin.com" [(ngModel)]="link.linkedin">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Facebook</label>
                            <input type="text" class="form-control" placeholder="https://www.facebook.com" [(ngModel)]="link.facebook">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Instagram</label>
                            <input type="text" class="form-control" placeholder="https://www.instagram.com" [(ngModel)]="link.instagram">
                        </div>
                    </div>



                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Github</label>
                            <input type="text" class="form-control" placeholder="https://www.github.com" [(ngModel)]="link.github">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>